.nav-tabs .nav-link {
    color: #257D7B !important;
    font-weight: normal;
}

    .nav-tabs .nav-link.active {
        color: #ffffff !important; /* Color de texto personalizado */
        background-color: #257D7B !important;
        border: none
    }

.borderCustom {
    border-top: 4px Solid #257D7B !important
}

.noteCustom {
    background: #67AFAF !important;
    color: #212121 !important;
    border-left: 0px !important
}

.dx-fileuploader-files-container {
    display: none !important;
}
